/*
Ideas for styling: 
  I want a gradiant background (body)
    Blue to Orange
  I want a border on the images
*/

html {
  width: 960px;
}

section {
  width: 960px;
  height: 500px;
}

/* main section ul li {
  float: left;
  list-style: none;
  margin: 3px;
} */

div {
  float: left;
  margin: 10px;
}

img {
  width: 300px;
  height: 300px; 
}